Repository Greensky-NSI/arcade, pull requests merged in 2025-02, with the labels that each got.

#8 Squelette du 1er labyrinthe
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  README.md
  cdc.md
  main.py
  src/assets/background/model_one/indestructibles/0.png
  src/assets/background/model_one/indestructibles/1.png
  src/assets/background/model_one/obstacles/0.png
  src/assets/background/model_one/obstacles/1.png
  src/assets/background/model_one/obstacles/2.png
  src/assets/background/model_one/obstacles/3.png
  src/assets/background/model_one/obstacles/4.png
  src/assets/background/model_one/obstacles/5.png
  src/assets/background/model_one/obstacles/6.png
  src/assets/objects/bomb/ticking/0.png
  src/assets/objects/bomb/ticking/1.png
  src/assets/objects/bomb/ticking/2.png
  src/assets/objects/bomb/ticking/3.png
  src/assets/objects/bomb/ticking/4.png
  src/assets/objects/bomb/ticking/5.png
  src/assets/objects/bomb/ticking/6.png
  src/assets/objects/bomb/ticking/7.png
  src/assets/objects/bomb/ticking/8.png
  src/assets/sprites/player/idle/0.png
  src/assets/sprites/player/walk/0.png
  src/assets/sprites/player/walk/1.png
  src/assets/sprites/player/walk/2.png
  src/assets/sprites/player/walk/3.png
  src/assets/sprites/player/walk/4.png
  src/assets/sprites/player/walk/5.png
  src/assets/sprites/player/walk/6.png
  src/assets/sprites/player/walk/7.png
  src/classes/core/Drawer.py
  src/classes/core/Timer.py
  src/classes/core/labyrinthe.py
  src/classes/mobs/Bomb.py
  src/classes/mobs/Player.py
  src/typing/core.py
  src/typing/custom_types.py
  src/typing/vars.py
  src/utils/globals.py
  src/utils/parsers.py
  src/utils/toolbox.py
Labels: help wanted, core, merge

#10 ✨ Labyrinthe
  bomb-it.jpg
  menu.py
  src/assets/background/model_one/indestructibles/0.png
  src/assets/background/model_one/indestructibles/1.png
  src/assets/background/model_one/obstacles/0.png
  src/assets/background/model_one/obstacles/1.png
  src/assets/background/model_one/obstacles/2.png
  src/assets/background/model_one/obstacles/3.png
  src/assets/background/model_one/obstacles/4.png
  src/assets/background/model_one/obstacles/5.png
  src/assets/background/model_one/obstacles/6.png
  src/classes/core/labyrinthe.py
  src/utils/globals.py
Labels: enhancement, gui, core, design, merge

#12 📝 Réglage documentation
  cdc.md
Labels: documentation
